* {
    flex-direction: flex;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

/* font css*/
.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* nav bar links */
#main, .nav-bar, li {
  text-decoration: none;
  padding-right: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #ccc;
  display: inline;
  justify-content: justify;
  text-align: center;
  width: 33%;
  font-size: 20px;
  }
  
#main, .nav-bar li a {
  text-decoration: none;
  padding-right: 2px;
  text-transform: uppercase;
  color: #f7e6e6;
	text-shadow: 2px 1px 2px #cdbebe;
  font-size: 20px;
 }


/* background image made by aly */
body {
    background-image: url(../images/rocket.bgIMG_1174.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  /* Animation for the rocket launch when refreshing page */
  .rocket {
    position: absolute;
    right:0%;
    animation: fly 5s .5s ease-in;
  }

  @keyframes fly {
    0% {
      bottom: -2000px;   
    }
    100% {
      bottom: 0%;
    }
  }
  
/* tabs to go to links */
#rockets {
    font-size: 35px;
    font-family: monospace;
    
}

        
  .logo {
    padding: 10px;
    font-family: "Bungee Spice", sans-serif;
    /* this gradient is in case the font doesnt work on certain browsers, so the same feel is achieved*/ 
    color: linear-gradient(0deg, rgba(202,13,0,1) 0%, rgba(241,163,0,1) 100%);
    text-align: center;
    font-size: 70px;
    
  }
  
  .container h1{
    padding: 10px;
    font-family: "Nabla", sans-serif;
    color: linear-gradient(0deg, rgba(202,13,0,1) 0%, rgba(241,163,0,1) 100%);
    text-align: center;
    font-size: 50px;
    text-shadow: 3px;
  }

  /* formatting of container contents*/

  .title-astronomy{
    text-align: center;
    font-size: 25px;
  }
  .explanation{
    text-align: justify;
    font-size: 20px;
  }
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
 
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  .img-fluid {
      display: block;
      max-width: 500px;
      height: auto;
  }

  .url {
    display: block;
    max-width: 500px;
    height: auto;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 900px;
}
  right: 20px;

#fb {
  background-color: goldenrod;
  color: black;
  border: none;
  border-radius: 25%;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0,5);
}

/* ends here */